<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 40%">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nom :</ion-label>
          <ion-input id="nom"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Prenom :</ion-label>
          <ion-input id="prenom"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Email :</ion-label>
          <ion-input id="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Password :</ion-label>
          <ion-input id="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Phone :</ion-label>
          <ion-input id="phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="signup" (click)="signup()" style="width:80%; margin-left:10%;margin-top:35%" color="dark">
          <ion-icon slot="start"></ion-icon>
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>