
  

		<ion-content fullscreen class="ion-padding" color="">
  <ion-title style="

  box-sizing: border-box; font-family: 'Fira Code', monospace;
  font-size: 40px;display: flex;
  height: 30%;
  align-items: center;
  margin-left: 17%;
  justify-content: center;" >Monumenty</ion-title>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="img"  (click)="signinFx()" style="width:100%; height: 100%">
          <img class="image" src="../../assets/leaning-tower-of-pisa-svgrepo-com.svg">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 40%; margin-top: 20%" class="">
      <ion-button class="sign-up-btn" fill="clear"  (click)="signupFx()">
                                                                                           Don't have an account?
      </ion-button>
    </ion-row>
  </ion-grid>
    </ion-content>
